# All about Feature Transformation TechniquesÂ¶

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("Rent Data.csv")
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

# MinMaxScaler / Normalization

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
mmx = MinMaxScaler(feature_range=(0, 1))

In [5]:
ms_fit = mmx.fit(df[['area']]) #fit / train
ms_fit

MinMaxScaler()

In [6]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [7]:
df['area'] = mmx.transform(df[['area']]) # transform the data
df.head()

       area   rent
0  0.347826  31500
1  0.391304  35000
2  0.565217  41050
3  0.456522  36100
4  0.782609  52100

In [8]:
#at a time fit and transform
df['rent'] = mmx.fit_transform(df[['rent']])
df.head()

       area   rent
0  0.347826  0.230
1  0.391304  0.300
2  0.565217  0.421
3  0.456522  0.322
4  0.782609  0.642

# Standard Scaler

In [9]:
import pandas as pd

In [10]:
df2 = pd.read_csv("Rent Data.csv")
df2.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [11]:
#Standard Scaler
from sklearn.preprocessing import StandardScaler

In [12]:
std = StandardScaler()
std

StandardScaler()

In [13]:
std_fit = std.fit(df[['area']])
std_fit

StandardScaler()

In [14]:
df2.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [15]:
df2['area'] = std.transform(df2[['area']]) # transform the data
df2.head()

           area   rent
0   8807.361544  31500
1   9247.831055  35000
2  11009.709098  41050
3   9908.535321  36100
4  13212.056651  52100

In [17]:
#at a time fit and transform
df2['rent'] = std.fit_transform(df2[['rent']])
df2.head()

           area      rent
0   8807.361544 -0.451586
1   9247.831055 -0.147755
2  11009.709098  0.377439
3   9908.535321 -0.052265
4  13212.056651  1.336678

# Robust Scaler

In [18]:
df3 = pd.read_csv("Rent Data.csv")
df3.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [19]:
from sklearn.preprocessing import RobustScaler

In [20]:
rbs = RobustScaler()
rbs

RobustScaler()

In [24]:
rbs_fit = rbs.fit(df[['area']])
rbs_fit

RobustScaler()

In [25]:
#at a time fit and transform
df3['area'] = rbs.fit_transform(df3[['area']])
df3.head()

     area   rent
0 -0.1375  31500
1 -0.0125  35000
2  0.4875  41050
3  0.1750  36100
4  1.1125  52100

In [26]:
#at a time fit and transform
df3['rent'] = rbs.fit_transform(df3[['rent']])
df3.head()

     area      rent
0 -0.1375 -0.162500
1 -0.0125  0.056250
2  0.4875  0.434375
3  0.1750  0.125000
4  1.1125  1.125000

# MaxAbsScaler

In [27]:
df4 = pd.read_csv("Rent Data.csv")
df4.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [28]:
from sklearn.preprocessing import MaxAbsScaler

In [29]:
mxb = MaxAbsScaler()
mxb

MaxAbsScaler()

In [30]:
#at a time fit and transform
df4['area'] = mxb.fit_transform(df4[['area']])
df4.head()

       area   rent
0  0.571429  31500
1  0.600000  35000
2  0.714286  41050
3  0.642857  36100
4  0.857143  52100

In [31]:
#at a time fit and transform
df4['rent'] = mxb.fit_transform(df4[['rent']])
df4.head()

       area      rent
0  0.571429  0.450000
1  0.600000  0.500000
2  0.714286  0.586429
3  0.642857  0.515714
4  0.857143  0.744286

# Normal Techniques

In [32]:
df5 = pd.read_csv("Rent Data.csv")
df5.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [33]:
maximum = df5.area.max()
maximum

3500

In [34]:
 df5.area =  df5.area / maximum

In [35]:
df5.head()

       area   rent
0  0.571429  31500
1  0.600000  35000
2  0.714286  41050
3  0.642857  36100
4  0.857143  52100

In [36]:
df5.area.std()

0.15183221335197683

In [37]:
df5.area.var()

0.023053021011360208

In [38]:
df5.area.mean()

0.6455172413793104

In [40]:
 df5.rent.median()

34100.0

In [41]:
 df5.rent.max()

70000

In [42]:
 df5.rent.min()

20000